# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# /.pnp
# .pnp.js

# testing
/coverage

# production
/build

#logging
*.log

# ./test/index.js
# /test

# misc
# .env

npm-debug.log*
npm.lock*
package-lock.json*
yarn-debug.log*
yarn.lock*
yarn-error.log*
